<div>
    <p>Courses</p>
    @if(this.courses.length>0){
    @for (course of this.courses; track course.id) {
    <div class="course-card">
        <div>Course Id: {{course.id}}</div>
        <h3>Title: {{ course.title }}</h3>
        <button (click)="add(course.id)">Enroll</button>
        <button (click)="remove(course.id)">Unenroll</button>
        <button (click)="viewCourseDetails(course.id)">View</button>
        
    </div>
    }
    }
    @else{
    <div>there are not courses</div>
    }
</div>