<nav>
    <a routerLink="/" routerLinkActive="active" appHighlightOnHover>Enter</a>
    <a routerLink="/home" routerLinkActive="active" appHighlightOnHover>Home</a>
    <a routerLink="/courses" routerLinkActive="active" appHighlightOnHover>Courses-List</a>
    <!-- <a routerLink="/auth" routerLinkActive="active" appHighlightOnHover>Login and Sign</a> -->
    <!-- <a routerLink="/course-details" routerLinkActive="active" appHighlightOnHover>Course-Details</a> -->
    <a routerLink="/course-manager" routerLinkActive="active" appHighlightOnHover>Course-Manager</a>
    <a routerLink="/lesson-manager" routerLinkActive="active" appHighlightOnHover>Lesson-Manager</a>
</nav>
<router-outlet></router-outlet>